
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@1,600&family=Titan+One&display=swap');


body {
    background: #ffffff;
    width: 1200px;
    height: 680px;
    font-family: 'Lobster', sans-serif;
    font-size: 1rem;
    color: #b64400;
    margin: 20px;
}

p, table {
    font-family: 'Nunito', sans-serif;
    color: ghostwhite;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
}

table {
    width: 100%;
}

.col1{
    width: 490px;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

h1 {
    color: #ff5e00;
    /*text-shadow: 5px 5px black;*/
}

div {
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    width: 595px;
    height: 140px;
    background-color: #570000;
    margin: auto;
    padding-left: 15px;
}

main {
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 11px;
}
