@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Nunito:ital,wght@1,600&family=Orbitron:wght@600&display=swap');

body {
    background: repeating-linear-gradient(0deg, #8c0202, #380000 5%, #8c0202 10%);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    color: #EFFC93;
    margin: 20px;
}

p, table {
    font-family: 'Nunito', sans-serif;
    color: ghostwhite;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    width: 100%;
}

.col1{
    width: 470px;
}

h1 {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

h1, h2{
    text-shadow: 5px 5px black;
}

div {
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    width: 580px;
    height: 140px;
    background-color: #380000FF;
    margin: auto;
    padding: 20px
}

main {
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}
div {
    padding: 15px;
}